@model IEnumerable<AeroBites.Models.Item>;

@{
    ViewData["Title"] = "Meu Restaurante";
    ViewData["CurrentPage"] = Enums.CurrentPage.MyRestaurant;
}

<div class="content-myrestaurant myrestaurant-items">
    <div class="actions">
        <nav class="app-tab">
            <a asp-action="" class="app-tab-action">Geral</a>
            <a class="app-tab-action active-tab">Produtos</a>
            <a asp-action="Orders" class="app-tab-action">Pedidos</a>
        </nav>
        <div>
            <nav class="app-tab">
                <a class="app-tab-action active-tab">Itens</a>
                <a asp-action="Categories" class="app-tab-action">Categorias</a>
            </nav>
            <a asp-action="Create" asp-controller="Item" class="app-button app-color-green">+</a>
        </div>
    </div>

    <table class="items-list app-table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Categoria</th>
                <th class="actions"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model ?? [])
            {
                <tr class="big-row">
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Category?.Name</td>
                    <td>
                        <div class="center-align">
                            <a asp-action="Edit" asp-controller="Item" asp-route-id="@item.Id" class="app-icon small-icon clickable">
                                <svg viewBox="0 0 512 512"><path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1 0 32c0 8.8 7.2 16 16 16l32 0zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z" /></svg>
                            </a>
                            /
                            <a asp-action="Delete" asp-controller="Item" asp-route-id="@item.Id" class="app-icon small-icon clickable">
                                <svg viewBox="0 0 448 512"><path d="M170.5 51.6L151.5 80l145 0-19-28.4c-1.5-2.2-4-3.6-6.7-3.6l-93.7 0c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80 368 80l48 0 8 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-8 0 0 304c0 44.2-35.8 80-80 80l-224 0c-44.2 0-80-35.8-80-80l0-304-8 0c-13.3 0-24-10.7-24-24S10.7 80 24 80l8 0 48 0 13.8 0 36.7-55.1C140.9 9.4 158.4 0 177.1 0l93.7 0c18.7 0 36.2 9.4 46.6 24.9zM80 128l0 304c0 17.7 14.3 32 32 32l224 0c17.7 0 32-14.3 32-32l0-304L80 128zm80 64l0 208c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-208c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0l0 208c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-208c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0l0 208c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-208c0-8.8 7.2-16 16-16s16 7.2 16 16z" /></svg>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="menu-list">
        <div class="menu-category" draggable="true" dropzone="true" ondragstart="grab(event)" ondrop="drop(event)" ondragover="event.preventDefault()">
            <svg viewBox="0 0 320 512"><path d="M40 352l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0c-22.1 0-40-17.9-40-40l0-48c0-22.1 17.9-40 40-40zm192 0l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0c-22.1 0-40-17.9-40-40l0-48c0-22.1 17.9-40 40-40zM40 320c-22.1 0-40-17.9-40-40l0-48c0-22.1 17.9-40 40-40l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0zM232 192l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0c-22.1 0-40-17.9-40-40l0-48c0-22.1 17.9-40 40-40zM40 160c-22.1 0-40-17.9-40-40L0 72C0 49.9 17.9 32 40 32l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0zM232 32l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0c-22.1 0-40-17.9-40-40l0-48c0-22.1 17.9-40 40-40z" /></svg>
            <div class="name">Category 1</div>
            <i class="arrow" data-expanded="true" onclick="expand(this)"></i>
            <div class="items">
                <button class="app-button app-color-green clickable new-item">+</button>
                <table class ="items-list app-table">
                    <thead>
                        <tr>
                            <th style="width: 35%;" class="left-align">Nome</th>
                            <th style="width: 150px;">Preço</th>
                            <th style="width: auto;"></th>
                            <th style="width: 150px;"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><div class="center-align">Item1</div></td>
                            <td><div class="center-align">25€</div></td>
                            <td />
                            <td><div class="center-align">Açoes</div></td>
                        </tr>
                    </tbody>
                </table>
                <div></div>
                <p>item1</p>
                <p>item2</p>
                <p>item3</p>
            </div>
        </div>
        <div class="menu-category" draggable="true" dropzone="true" ondragstart="grab(event)" ondrop="drop(event)" ondragover="event.preventDefault()">
            <svg viewBox="0 0 320 512"><path d="M40 352l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0c-22.1 0-40-17.9-40-40l0-48c0-22.1 17.9-40 40-40zm192 0l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0c-22.1 0-40-17.9-40-40l0-48c0-22.1 17.9-40 40-40zM40 320c-22.1 0-40-17.9-40-40l0-48c0-22.1 17.9-40 40-40l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0zM232 192l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0c-22.1 0-40-17.9-40-40l0-48c0-22.1 17.9-40 40-40zM40 160c-22.1 0-40-17.9-40-40L0 72C0 49.9 17.9 32 40 32l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0zM232 32l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0c-22.1 0-40-17.9-40-40l0-48c0-22.1 17.9-40 40-40z" /></svg>
            <div class="name">Category 2</div>
        </div>
        <div class="menu-category" draggable="true" dropzone="true" ondragstart="grab(event)" ondrop="drop(event)" ondragover="event.preventDefault()">
            <svg viewBox="0 0 320 512"><path d="M40 352l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0c-22.1 0-40-17.9-40-40l0-48c0-22.1 17.9-40 40-40zm192 0l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0c-22.1 0-40-17.9-40-40l0-48c0-22.1 17.9-40 40-40zM40 320c-22.1 0-40-17.9-40-40l0-48c0-22.1 17.9-40 40-40l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0zM232 192l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0c-22.1 0-40-17.9-40-40l0-48c0-22.1 17.9-40 40-40zM40 160c-22.1 0-40-17.9-40-40L0 72C0 49.9 17.9 32 40 32l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0zM232 32l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0c-22.1 0-40-17.9-40-40l0-48c0-22.1 17.9-40 40-40z" /></svg>
            <div class="name">Category 3</div>
        </div>
    </div>
</div>

<script>
    function expand(element) {
        const expandValue = element.getAttribute("data-expanded") == "true";
        element.setAttribute("data-expanded", !expandValue);
    }

    function grab(event) {
        const item = event.currentTarget;
        item.classList.add("dragging");
        item.setAttribute("id", "drag-"+new Date().getTime());

        event.dataTransfer.setData("source", item.id);
    }

    function drop(event) {
        const dropzone = event.currentTarget;

        const item = dropzone.parentElement.querySelector("div#" + event.dataTransfer.getData("source"));
        item.classList.remove("dragging");
        
        const middlePoint = dropzone.getBoundingClientRect().top + (dropzone.getBoundingClientRect().height / 2);
        const itemDropPoint = event.clientY;

        if( itemDropPoint <= middlePoint ) return dropzone.parentElement.insertBefore(item, dropzone);
        if( !dropzone.nextElementSibling ) return dropzone.parentElement.appendChild(item);
        else return dropzone.parentElement.insertBefore(item, dropzone.nextElementSibling);
    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}